<%- include("base") -%>

<%- include("header") -%>

<body>
    <div class="content">
        <h1>Добавление новой смены</h1>

        <form action="/create" method="post">

         <%- include("_editor_shifts") -%>

        </form>
    </div>
</body>
