<link rel="stylesheet" href="css/header.css">

<header>
    <div class="header__long-line">
        <div class="header__short-line">
            <a href="/" class="header__link">Личный кабинет врача</a>
        </div>
    </div>
</header>